@using LogViewer.Session;
@using LogViewer.Models.CEF;
@{
    ViewData["Title"] = "Dashboard";
    CEFs cefData = Context.Session.Get<CEFs>("CEFData");
}

<style>
    .square {
  width: 50px;
  height: 25px;
    }

      table.legend {
        border-collapse: separate;
        border-spacing: 10px; /* Apply cell spacing */
    }

    table.legend , table.legend td{
         border: 15px;
        padding: 10px; /* Apply cell padding */
    }
    </style>

<h1>Dashboard</h1>

@if (cefData != null && cefData.ListCEFs != null && cefData.ListCEFs.Count > 0)
{
    <div style="margin-left:50%;">
    <table class="legend">
  <tr>
    <td style="background:red;"class="square"></td>
    <td>Alert(s): @cefData.totalAlerts</td>

  </tr>
  <tr>
    <td style="background:#e0a800;"class="square"></td>
    <td>Caution</td>

  </tr>
  <tr>
    <td style="background:#0069d9;"class="square"></td>
    <td>Adlumin</td>

  </tr>
</table>
</div>

   <table id="example" class="table table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>id</th>
            <th> </th>
            <th>Alert Level</th>
            <th>Source Translated IP</th>
            <th>Source IP</th>
            <th>Source IP Public/Private</th>
            <th>DeviceCustomString1</th>
            <th>Destination IP</th>
            <th>Destination IP Public/Private</th>
            <th>DestinationHostName</th>
        </tr>
    </thead>
    <tbody>

        @*
            <td><button type="button" class="btn btn-light">button</button></td>
        *@
        @foreach (CEF cefDatum in cefData.ListCEFs)
        {
            <tr style="@(cefDatum.RowStyle)">
                <td>@cefDatum.id</td>
                <td>@cefDatum.mysteryNumber</td>
                <td>@cefDatum.AlertLevel</td>
                <td><button type="button" class="btn btn-light">@(cefDatum.SourceTransIP)</button></td>
                <td><button type="button" class="@(cefDatum.SourceIPstyle)">@(cefDatum.SourceIP)</button></td>
                <td><button type="button" class="btn btn-light">@(cefDatum.SourceIP_Private ? "Private" : "Public")</button></td>
                    @if (!String.IsNullOrEmpty(cefDatum.cs1))
                    {
                        <td><button type="button" class="@(cefDatum.cs1Style)">@(cefDatum.cs1)</button></td>
                    }
                    else
                    {
                        <td></td>
                    }
                <td><button type="button" class="@(cefDatum.Dest_IPStyle)">@(cefDatum.Dest_IP)</button></td>
                <td><button type="button" class="btn btn-light">@(cefDatum.Dest_IP_Private ? "Private" : "Public")</button></td>
                    @if (!String.IsNullOrEmpty(cefDatum.dhost))
                    {
                        <td><button type="button" class="@(cefDatum.dhostStyle)">@(cefDatum.dhost)</button></td>
                    }
                    else
                    {
                        <td></td>
                    }
            </tr>
        }

    </tbody>
</table> 
}
else
{
    <p>There does not seem to be any log data loaded. Try the Upload page.</p>

}





